.ulti-ipsum {

	background: #F5F5F5;
	
	md-toolbar .md-toolbar-tools .md-button,
  md-toolbar .md-toolbar-tools .md-button:hover {
		box-shadow: none;
	  border: none;
	  transform: none;
	  -webkit-transform: none;
	}

	.thorsent-home md-icon {
		margin: 10px;
	}

	md-content {
		background: none;
	}

	md-card {
		background: #FFF;
	}
}