.ulti-ipsum {

	background: #F5F5F5;

	md-toolbar .md-toolbar-tools .md-button,
  md-toolbar .md-toolbar-tools .md-button:hover {
		box-shadow: none;
	  border: none;
	  transform: none;
	  -webkit-transform: none;
	}

	.thorsent-home md-icon {
		margin: 10px;
	}

	md-content {
		background: none;
		margin-bottom: 16px;
	}

	md-card {
		background: #FFF;
	}

	.group-label {
		color: rgba(0,0,0,0.54);
		font-size:	0.75em;
	}

	.text-container md-card {
		padding-bottom: 8px;
	}

	.add-button-container {
		padding: 0 24px;
		margin-top: -36px;
	}

	.footer {
		h2 {
			font-size: 1em;
			margin: 0.5em 0;
		}

		p {
			font-size: 0.75em;
			margin: 0;
		}

		a {
			color: #FFF;
		}

		img {
			width: 200px;
			height: auto;
		}
	}
}